@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


.move-to-top {
  transform: translateY(-30px);
  transition: transform 0.2s ease, opacity 0.2s ease;
  opacity: 1;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
  background: rgb(46, 62, 111);
  background: linear-gradient(135deg, rgba(46, 62, 111, 1) 20%, rgba(0, 0, 0, 1) 85%);
  width: 100vw;
  height: 100vh;
  background-attachment: fixed;
}