@import url("https://fonts.googleapis.com/css2?family=Amiko:wght@400;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.move-to-top {
  transform: translateY(-30px);
  transition: transform 0.2s ease, opacity 0.2s ease;
  opacity: 1;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  background: rgb(46, 62, 111);
  background: linear-gradient(
    135deg,
    rgba(46, 62, 111, 1) 20%,
    rgba(0, 0, 0, 1) 85%
  );
  width: 100vw;
  height: 100vh;
  background-attachment: fixed;
}




/* ================= typing animation =================== */
@keyframes wave {
  0%,
  60%,
  100% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(-10px);
  }
}

.animate-wave-1 {
  animation: wave 1.5s infinite;
  animation-delay: 0s;
}

.animate-wave-2 {
  animation: wave 1.5s infinite;
  animation-delay: 0.3s;
}

.animate-wave-3 {
  animation: wave 1.5s infinite;
  animation-delay: 0.6s;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.blink {
  animation: blink 1s linear 5;
  animation-fill-mode: forwards;
}
